.episode {
  h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    text-align: center;

    span {
      color: #0d6efd;
    }
  }

  .airDate {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }

  .content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;

    .filter {
      text-align: center;

      h3 {
        font-size: 22px;
        font-weight: 500;
      }

      select {
        width: 100%;
        padding: 10px;
        outline: none;
        border: 1px solid #ced4da;
        border-radius: 4px;
      }
    }
  }
}
