.App {
  .main-container {
    padding: 40px 15% 0;
  }
}

.error-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
